html {
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
}

form {
  margin-top: 20px;
  text-align: center;
}

ul {
  padding: 5px;
}

ul li {
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

ul li:nth-child(even) {
  background-color: #eee;
}

ul li strong {
  width: 30%;
  display: block;
  float: left;
}

ul li span {
  width: 70%;
  display: block;
}
